<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>

<body>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" ><h1 class="text-center">About Me</h1></li>
            <li class="list-group-item"><img id="Portrait" width="20%" src="/Assets/images/JosefPortait.jpg" class="img-fluid" alt="Josef Portrait"></li>
            <li class="list-group-item"><h6>My name is Josef Signo and I am a Game Programming Student at Centennial College. 
                                            I originally used to be a Process Automation Technology student at McMaster University
                                            but, after years of it feeling like just routine, 
                                            I left and pursued my career in gaming, something I'm much more passionate about. 
                                            My main hobbies include playing video games, listening to music, and browsing the internet.</h6></li>  
            <li class="list-group-item"><a class="btn" href="/Assets/documents/Josef_Signo_Resume.pdf" role="button"><i class="fas fa-file"></i> Check out my resume here!</a></li>
        </ul>
        </div>
</body>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 
