<%- include partials/header.ejs%> 
<%-include partials/main_nav.ejs %>

<!--Logo-->
<body>
    <div class="container">
    <ul class="list-group">
        <li class="list-group-item"><h1 class="text-center">Welcome to the Portfolio of</h1></li>
        <li class="list-group-item"><img src="/Assets/images/JosefLogo.png" class="img-fluid" width="50%" alt="Josef Logo"></li>
        <li class="list-group-item"><h4><b>Mission Statement: </b> To further my education and continue to grow as a Game Programming Student <br/><br/>
        <a class="btn" href="/about" role="button"><i class="fas fa-user"></i>Click Here to learn more about me!</a></h4></li>
      </ul>
    </div>
</body>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 

