<%- include partials/header.ejs%> 
<%-include partials/main_nav.ejs %>

<body>
<div class="container overflow-auto">
    <ul class="list-group">
        <li class="list-group-item"><h1 class="text-center">Projects</h1></li>
        <li class="list-group-item"><h4 class="text-center">Here is a showcase of several of the group projects I worked on:</h4></li>
        <li class="list-group-item"><img src="/Assets/images/Asteroids.png" class="img-fluid" width="30%" alt="Asteroids"></li>
        <li class="list-group-item"><h6>This was an variant of the classic video game, Asteroids, that I created. 
                                        It features the same functions as the classic game including a ship that appears on the other side of the screen when flying to one end,
                                        asteroids that turn into smaller asteroids when shot at and a score and lives counter. </h6></li>
        <li class="list-group-item"><img src="/Assets/images/Detechtive-Noir.png" class="img-fluid" width="30%" alt="Detechtive Noir"></li>
        <li class="list-group-item"><h6>DeTechtive Noir was a 2D overhead mystery game, set in a cyberpunk future, where you played as a lead detective trying to solve a murder mystery. I was personally in charge of the writing where I made the script for the game, which includes the item descriptions, character descriptions, the main story and the dialogue. Additionally, I was the one who came up with the title of the game.</h6></li>
        <li class="list-group-item">
                                    <img src="/Assets/images/Tree.png" class="mx-auto" width="20%" alt="Tree"> 
                                    <img src="/Assets/images/GlassBowl.png" class="mx-auto" width="20%" alt="Bowl">
                                    <img src="/Assets/images/Machete.png" class="mx-auto" width="20%"  alt="Machete">
                                    <img src="/Assets/images/Saber.png" class="mx-auto" width="20%"  alt="Saber"> 
                                    </li>           
        <li class="list-group-item"><h6>A small group in the Video Game Assets course had to create a series of different types of 3D assets from Blender and import them into Unity, 
                                        with several of them needing to be capable of animation. 
                                        I personally created the machete, glass bowl, saber and the tree assets.</h6></li>
      </ul>
    </div>
</body>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 
