<%- include partials/header.ejs%> 
<%-include partials/main_nav.ejs %>

<body>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><h1 class="text-center">Here is a list of some of the services that I have to offer:</h1></li>
            <li class="list-group-item"><h4>Unity Programming</h4></li>
            <li class="list-group-item"><h4>Java Programming</h4></li>
            <li class="list-group-item"><h4>C# Programming</h4></li>
            <li class="list-group-item"><h4>GIMP</h4></li>
            <li class="list-group-item"><h4>Blender</h4></li>
        </ul>
        </div>
</body>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 
