<!--Main Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/Assets/images/JosefIcon.png" alt="" width="40" height="40" class="d-inline-block align-text-top"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <% if (title == "Home") { %>
              <a class="nav-link active text success" aria-current="page" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
            <% } else { %> 
            <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
            <% } %>
        </li>

        <li class="nav-item">
            <% if (title == "About Me") { %>
              <a class="nav-link active text success" aria-current="page" href="/about"><i class="fas fa-lg fa-info"></i> About Me </a>
            <% } else { %> 
            <a class="nav-link" href="/about"><i class="fas fa-lg fa-info"></i> About Me </a>
            <% } %>
        </li>

        <li class="nav-item">
            <% if (title == "Projects") { %>
              <a class="nav-link active text success" aria-current="page" href="/products"><i class="fas fa-lg fa-gamepad"></i> Projects </a>
            <% } else { %> 
            <a class="nav-link" href="/products"><i class="fas fa-lg fa-gamepad"></i> Projects </a>
            <% } %>
        </li>

        <li class="nav-item">
            <% if (title == "Services") { %>
              <a class="nav-link active text success" aria-current="page" href="/services"><i class="fas fa-lg fa-cog"></i> Services </a>
            <% } else { %> 
            <a class="nav-link" href="/services"><i class="fas fa-lg fa-cog"></i> Services </a>
            <% } %>
        </li>

        <li class="nav-item">
            <% if (title == "Contact Me") { %>
              <a class="nav-link active text success" aria-current="page" href="/contact"><i class="far fa-lg fa-address-card"></i> Contact Me </a>
            <% } else { %> 
            <a class="nav-link" href="/contact"><i class="far fa-lg fa-address-card"></i> Contact me </a>
            <% } %>
        </li>
        
      </div>
    </div>
</nav>